# =========================
# IDE / OS files
# =========================
.idea/
.vscode/
.DS_Store
Thumbs.db

# =========================
# Python cache / env
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# DATASETS 
# =========================
archive/
*.csv
*.parquet
*.zip

# =========================
# TRAINED MODELS 	
# =========================
trained_models/
*.h5
*.pt
*.pth
*.joblib
*.pkl
*.onnx

# =========================
# Logs & temp
# =========================
*.log
*.tmp
